안녕

<%= render :partial => "/home/navbar" %>



    <div id="all">

        <div id="content">





 <div class ="row">
 <%unless @ar.nil?%>
                <div class="col-md-9">
                <!--여기서 반복문이 들어가줘야 함.-->
                
                  <% @result.each do |x|%>
                  <a href="/home/detail/<%=x.id%>">
                    <div id ="shop_box" class ="box" style ="margin-left:40px; padding:30px;">
                        <div class= "row">
                         <div class= "col-md-12" style ="border-bottom: 1px solid #DDD;margin-left:10px;margin-right:10px;">
                             <div class="col-md-8">
                             
                             <%=x.name%>
                             </div>
                             <div class="col-md-4" style ="">
                             총 평점 :<%=x.star%>
                               <span class="star-rating small" >
                                          <i></i>
                                          <i class="on"></i>
                                          <i></i>
                                          <i></i>
                                          <i></i>
                               </span>
                             </div>
                             
                             </div>
                         </div>
                         <div class="row" style ="padding-left:10px;margin-left:20px;">
                         <sapn style="color:gray">
                          <%=x.address%>
                         </span>
                         </div>
                         
                         
                        </div>
                    
                
                  </a>
                 <%end%>
                    </div>
                
             
                   <%end%>
                <!--shopbox-->
                
                
                <div class="col-md-3">
               
                    <div id ="ranking-box" class ="box"style ="height:80%;margin:20px;" >
                    </div>
                </div>
                
                
                
            </div>
 
            
            
            
            </div>
            </div>
            
            
            
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/bootstrap-hover-dropdown.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/front.js"></script>